# Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files 
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

# Eclipse
.project
.classpath
.settings
.checkstyle


# Netbeans
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

# Other
.DS_Store
dist
tmp
/bin/
